.your-page {
    font-size: 14px;
    overflow: hidden;
    margin: 30px auto;
    text-align: center;
    color: #333333;
    display: inline-block;
}

.your-page .your-page-prev,
.your-page .your-page-first,
.your-page .your-page-last,
.your-page .your-page-next,
.your-page .your-page-input,
.your-page .your-page-btns {
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    margin: 0 0 0 5px;
}

.your-page .your-page-input {
    width: 180px;
    padding-left: 10px;
    text-align: left;
    outline: none;
    box-sizing: border-box;
}

.your-page .your-page-prev.your-page-forbid,
.your-page .your-page-next.your-page-forbid {
    /* 禁用该元素 */
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.2);
}

.your-page .your-page-prev:not(.your-page-forbid):hover,
.your-page .your-page-next:not(.your-page-forbid):hover,
.your-page .your-page-first:not(.your-page-forbid):hover,
.your-page .your-page-last:not(.your-page-forbid):hover {
    border-color: #a02d35;
}

.your-page .your-page-group {
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.your-page .your-page-group li {
    float: left;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 30px;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.your-page .your-page-group .your-page-cell {
    border: 1px solid #ddd;
    border-radius: 2px;
}

.your-page .your-page-group .your-page-cell:hover,
.your-page .your-page-group .your-page-checked {
    border-color: #a02d35;
    background-color: #a02d35;
    color: #ffffff;
}


/* 省略号也是不可以点击的 */

.your-page .your-page-group .your-page-omit {
    pointer-events: none;
}